<h1>Contact Me</h1>


<form action="/submit_contact" method="post">

  <label for="first-name">First Name</label>
  <input type="text" id="first-name" name="first_name">
  <br>

  <label for="last-name">Last Name</label>
  <input type="text" id="last-name" name="last_name">
  <br>

  <label for="email">Email</label>
  <input type="email" id="email" name="email">
  <br>

  <input type="radio" name="department" value="sales">Sales
  <input type="radio" name="department" value="marketing">Marketing
  <input type="radio" name="department" value="tech">Technical
  <br>

  <input type="checkbox" name="urgent"> Urgent?

  <br>

  <select name="category">
    <option value="art">Art</option>
    <option value="sports">Sports</option>
    <option value="technology">Technology</option>
  </select>
  <br>


  <label for="message">Message</label>
  <textarea type="text" id="message" name="message"></textarea>
  <br>

  <input type="Submit" value="Contact Us!">

</form>