<h1> Take the Three Question persoanlity test</h1>


<form action="/personality_test" method="post">
  
  <h2>You work best:</h2>

  <input type="radio" id="with" name="work_best" value="with">
  <label for="with">With deadlines</label>
  <br>
  <input type="radio" name="work_best" value="without" id="without">
  <label for="without">Without deadlines</label>

  <br>

  <h2>You consider yourself more:</h2>

  <input type="radio" id="rational" name="consideration" value="rational">
  <label for="rational">Rational</label>
  <br>
  <input type="radio" name="consideration" value="compassionate" id="compassionate">
  <label for="compassionate">Compassionate</label>

  <br>

  <h2>You are more interested in:</h2>

  <input type="radio" id="ideas" name="interest" value="ideas">
  <label for="ideas">Ideas</label>
  <br>
  <input type="radio" name="interest" value="facts" id="facts">
  <label for="facts">Facts</label>

  <br>

  <input type="submit" value="Submit">
</form>
